<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <ID>1</ID>
    <ObjectName>Тестовый</ObjectName>
    <Server>http://stalker.megadevices.com.ua/add_log.php</Server>
    <APN>www.mts.ua</APN>
    <MasterToken>8EEE865B</MasterToken>
    <PhoneBook>
        <Phone>+380504711760</Phone>
    </PhoneBook>
    <SaveLogcatLogs>true</SaveLogcatLogs>
    <SendSMSAfterServicesFail>false</SendSMSAfterServicesFail>
    <UpdateTime>20:50</UpdateTime>
    <UpdateInterval>5</UpdateInterval>
    <LogUploadingInterval>2</LogUploadingInterval>
    <USSDTime>22:00</USSDTime>
    <USSDString>*101#</USSDString>
</Configuration>